<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10个.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,113}</string>
                <key>spriteSourceSize</key>
                <string>{162,113}</string>
                <key>textureRect</key>
                <string>{{810,501},{162,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10个选中色.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,113}</string>
                <key>spriteSourceSize</key>
                <string>{162,113}</string>
                <key>textureRect</key>
                <string>{{1134,388},{162,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11个.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,113}</string>
                <key>spriteSourceSize</key>
                <string>{162,113}</string>
                <key>textureRect</key>
                <string>{{810,388},{162,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11个选中色.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,113}</string>
                <key>spriteSourceSize</key>
                <string>{162,113}</string>
                <key>textureRect</key>
                <string>{{648,388},{162,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12个.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,113}</string>
                <key>spriteSourceSize</key>
                <string>{162,113}</string>
                <key>textureRect</key>
                <string>{{1296,388},{162,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12个选中色.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,113}</string>
                <key>spriteSourceSize</key>
                <string>{162,113}</string>
                <key>textureRect</key>
                <string>{{1134,501},{162,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13个.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,113}</string>
                <key>spriteSourceSize</key>
                <string>{162,113}</string>
                <key>textureRect</key>
                <string>{{1458,501},{162,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13个选中色.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,113}</string>
                <key>spriteSourceSize</key>
                <string>{162,113}</string>
                <key>textureRect</key>
                <string>{{0,614},{162,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14个.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,113}</string>
                <key>spriteSourceSize</key>
                <string>{162,113}</string>
                <key>textureRect</key>
                <string>{{1620,501},{162,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14个选中色.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,113}</string>
                <key>spriteSourceSize</key>
                <string>{162,113}</string>
                <key>textureRect</key>
                <string>{{1296,501},{162,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1点.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1095,175},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1点选中 副本.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1795,175},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2个.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,113}</string>
                <key>spriteSourceSize</key>
                <string>{162,113}</string>
                <key>textureRect</key>
                <string>{{486,388},{162,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2个选中色.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,113}</string>
                <key>spriteSourceSize</key>
                <string>{162,113}</string>
                <key>textureRect</key>
                <string>{{324,388},{162,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2点.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1295,175},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2点选中 副本.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1195,175},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3个.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,113}</string>
                <key>spriteSourceSize</key>
                <string>{162,113}</string>
                <key>textureRect</key>
                <string>{{972,388},{162,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3个选中色.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,113}</string>
                <key>spriteSourceSize</key>
                <string>{162,113}</string>
                <key>textureRect</key>
                <string>{{162,388},{162,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3点.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1595,175},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3点选中 副本.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1495,175},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4个.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,113}</string>
                <key>spriteSourceSize</key>
                <string>{162,113}</string>
                <key>textureRect</key>
                <string>{{1458,388},{162,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4个选中色.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,113}</string>
                <key>spriteSourceSize</key>
                <string>{162,113}</string>
                <key>textureRect</key>
                <string>{{0,388},{162,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4点.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1695,175},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4点选中.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1395,175},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5个.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,113}</string>
                <key>spriteSourceSize</key>
                <string>{162,113}</string>
                <key>textureRect</key>
                <string>{{1782,388},{162,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5个选中色.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,113}</string>
                <key>spriteSourceSize</key>
                <string>{162,113}</string>
                <key>textureRect</key>
                <string>{{1620,388},{162,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5点.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{0,275},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5点选中 副本.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{995,175},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6个.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,113}</string>
                <key>spriteSourceSize</key>
                <string>{162,113}</string>
                <key>textureRect</key>
                <string>{{1664,275},{162,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6个选中色.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,113}</string>
                <key>spriteSourceSize</key>
                <string>{162,113}</string>
                <key>textureRect</key>
                <string>{{1782,501},{162,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6点.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{795,175},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6点选中 副本.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{895,175},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7个.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,113}</string>
                <key>spriteSourceSize</key>
                <string>{162,113}</string>
                <key>textureRect</key>
                <string>{{486,501},{162,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7个选中色.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,113}</string>
                <key>spriteSourceSize</key>
                <string>{162,113}</string>
                <key>textureRect</key>
                <string>{{0,501},{162,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8个.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,113}</string>
                <key>spriteSourceSize</key>
                <string>{162,113}</string>
                <key>textureRect</key>
                <string>{{972,501},{162,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8个选中色.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,113}</string>
                <key>spriteSourceSize</key>
                <string>{162,113}</string>
                <key>textureRect</key>
                <string>{{324,501},{162,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9个.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,113}</string>
                <key>spriteSourceSize</key>
                <string>{162,113}</string>
                <key>textureRect</key>
                <string>{{648,501},{162,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9个选中色.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,113}</string>
                <key>spriteSourceSize</key>
                <string>{162,113}</string>
                <key>textureRect</key>
                <string>{{162,501},{162,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picBoy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{1109,0},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>picGirl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{1035,0},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timeOut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,139}</string>
                <key>spriteSourceSize</key>
                <string>{138,139}</string>
                <key>textureRect</key>
                <string>{{506,614},{138,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>下局离场.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,95}</string>
                <key>spriteSourceSize</key>
                <string>{316,95}</string>
                <key>textureRect</key>
                <string>{{1637,80},{316,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>准备.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,109}</string>
                <key>spriteSourceSize</key>
                <string>{337,109}</string>
                <key>textureRect</key>
                <string>{{1327,275},{337,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>创建房间.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,80}</string>
                <key>spriteSourceSize</key>
                <string>{246,80}</string>
                <key>textureRect</key>
                <string>{{1183,0},{246,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>初级场.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,80}</string>
                <key>spriteSourceSize</key>
                <string>{246,80}</string>
                <key>textureRect</key>
                <string>{{1675,0},{246,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>加入房间.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,80}</string>
                <key>spriteSourceSize</key>
                <string>{246,80}</string>
                <key>textureRect</key>
                <string>{{246,80},{246,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>单独钩选用的钩钩.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,44}</string>
                <key>spriteSourceSize</key>
                <string>{58,44}</string>
                <key>textureRect</key>
                <string>{{0,0},{58,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>叫骰点子气泡框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,124}</string>
                <key>spriteSourceSize</key>
                <string>{344,124}</string>
                <key>textureRect</key>
                <string>{{162,614},{344,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>右三角.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,103}</string>
                <key>spriteSourceSize</key>
                <string>{51,103}</string>
                <key>textureRect</key>
                <string>{{100,275},{51,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>头像阴影2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,248}</string>
                <key>spriteSourceSize</key>
                <string>{240,248}</string>
                <key>textureRect</key>
                <string>{{767,767},{240,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>小1点.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{1371,80},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>小2点.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{1116,80},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>小3点.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{1201,80},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>小4点.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{1286,80},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>小5点.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{1031,80},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>小6点.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{946,80},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>左三角.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,103}</string>
                <key>spriteSourceSize</key>
                <string>{51,103}</string>
                <key>textureRect</key>
                <string>{{151,275},{51,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>开按钮.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,81}</string>
                <key>spriteSourceSize</key>
                <string>{208,81}</string>
                <key>textureRect</key>
                <string>{{738,80},{208,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>快速开始.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,80}</string>
                <key>spriteSourceSize</key>
                <string>{246,80}</string>
                <key>textureRect</key>
                <string>{{1429,0},{246,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>放骰子的框框1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{927,146}</string>
                <key>spriteSourceSize</key>
                <string>{927,146}</string>
                <key>textureRect</key>
                <string>{{644,614},{927,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>放骰子的框框2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,244}</string>
                <key>spriteSourceSize</key>
                <string>{170,244}</string>
                <key>textureRect</key>
                <string>{{597,767},{170,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>斋.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,96}</string>
                <key>spriteSourceSize</key>
                <string>{241,96}</string>
                <key>textureRect</key>
                <string>{{554,175},{241,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>新钻石图.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,95}</string>
                <key>spriteSourceSize</key>
                <string>{316,95}</string>
                <key>textureRect</key>
                <string>{{238,175},{316,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>聊天框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1125,108}</string>
                <key>spriteSourceSize</key>
                <string>{1125,108}</string>
                <key>textureRect</key>
                <string>{{202,275},{1125,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>聊天框旁表情按钮.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{1456,80},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>要飞掉斋，骰子数至少要翻倍.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{913,66}</string>
                <key>spriteSourceSize</key>
                <string>{913,66}</string>
                <key>textureRect</key>
                <string>{{58,0},{913,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>返回按键.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{1543,80},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>进阶场.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,80}</string>
                <key>spriteSourceSize</key>
                <string>{246,80}</string>
                <key>textureRect</key>
                <string>{{0,80},{246,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>问号骰子.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,71}</string>
                <key>spriteSourceSize</key>
                <string>{64,71}</string>
                <key>textureRect</key>
                <string>{{971,0},{64,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>飞.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,95}</string>
                <key>spriteSourceSize</key>
                <string>{238,95}</string>
                <key>textureRect</key>
                <string>{{0,175},{238,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>骰子1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,160}</string>
                <key>spriteSourceSize</key>
                <string>{149,160}</string>
                <key>textureRect</key>
                <string>{{448,767},{149,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>骰子2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,158}</string>
                <key>spriteSourceSize</key>
                <string>{148,158}</string>
                <key>textureRect</key>
                <string>{{152,767},{148,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>骰子3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,158}</string>
                <key>spriteSourceSize</key>
                <string>{148,158}</string>
                <key>textureRect</key>
                <string>{{300,767},{148,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>骰子4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,157}</string>
                <key>spriteSourceSize</key>
                <string>{152,157}</string>
                <key>textureRect</key>
                <string>{{0,767},{152,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>骰子5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,153}</string>
                <key>spriteSourceSize</key>
                <string>{152,153}</string>
                <key>textureRect</key>
                <string>{{1725,614},{152,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>骰子6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,151}</string>
                <key>spriteSourceSize</key>
                <string>{154,151}</string>
                <key>textureRect</key>
                <string>{{1571,614},{154,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>高级场次.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,80}</string>
                <key>spriteSourceSize</key>
                <string>{246,80}</string>
                <key>textureRect</key>
                <string>{{492,80},{246,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tableAll.png</string>
            <key>size</key>
            <string>{1953,1015}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c85d0623cceff78eb64531ddaafebe98:948274f7d79f26949801046d25c456c4:55f9d328fc486b0e87456e02b1342eda$</string>
            <key>textureFileName</key>
            <string>tableAll.png</string>
        </dict>
    </dict>
</plist>
