<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,131}</string>
                <key>spriteSourceSize</key>
                <string>{100,131}</string>
                <key>textureRect</key>
                <string>{{100,0},{100,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,133}</string>
                <key>spriteSourceSize</key>
                <string>{101,133}</string>
                <key>textureRect</key>
                <string>{{101,131},{101,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,133}</string>
                <key>spriteSourceSize</key>
                <string>{101,133}</string>
                <key>textureRect</key>
                <string>{{0,264},{101,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,134}</string>
                <key>spriteSourceSize</key>
                <string>{101,134}</string>
                <key>textureRect</key>
                <string>{{101,264},{101,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,134}</string>
                <key>spriteSourceSize</key>
                <string>{101,134}</string>
                <key>textureRect</key>
                <string>{{102,666},{101,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,134}</string>
                <key>spriteSourceSize</key>
                <string>{101,134}</string>
                <key>textureRect</key>
                <string>{{101,800},{101,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,134}</string>
                <key>spriteSourceSize</key>
                <string>{101,134}</string>
                <key>textureRect</key>
                <string>{{0,800},{101,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,131}</string>
                <key>spriteSourceSize</key>
                <string>{100,131}</string>
                <key>textureRect</key>
                <string>{{0,0},{100,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,133}</string>
                <key>spriteSourceSize</key>
                <string>{101,133}</string>
                <key>textureRect</key>
                <string>{{0,131},{101,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,134}</string>
                <key>spriteSourceSize</key>
                <string>{101,134}</string>
                <key>textureRect</key>
                <string>{{101,532},{101,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,134}</string>
                <key>spriteSourceSize</key>
                <string>{101,134}</string>
                <key>textureRect</key>
                <string>{{0,398},{101,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,134}</string>
                <key>spriteSourceSize</key>
                <string>{101,134}</string>
                <key>textureRect</key>
                <string>{{101,398},{101,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,134}</string>
                <key>spriteSourceSize</key>
                <string>{101,134}</string>
                <key>textureRect</key>
                <string>{{0,532},{101,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,134}</string>
                <key>spriteSourceSize</key>
                <string>{102,134}</string>
                <key>textureRect</key>
                <string>{{0,666},{102,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tz_animation.png</string>
            <key>size</key>
            <string>{203,934}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75e4c38f2dd6b0a9564bffcf9f9a7b27:8bcc0c6067198d366d1a90d9759799a4:e086e7f2922fe2095a07a28c44355015$</string>
            <key>textureFileName</key>
            <string>tz_animation.png</string>
        </dict>
    </dict>
</plist>
